.wc-header, .wc-cal-event .wc-time{
	background-image:url('../images/inner_header.png');
}

.cluetip-default h3#cluetip-title {
	background-image:url('../images/inner_header.png');
}

.cluetip-default #cluetip-outer{
	background-color:#ECECEC;
	color:#111;
}

div#nyroModalFull div#nyroModalWrapper{
	border-color:#ECECEC;
}